// Post Expand
// --------------------------------------------------
.posts-expand {
  &.index {
    .post-title, .post-meta {
      text-align: center;

      +mobile() {
        text-align: center;
      }
    }

    .post-meta {
      margin: 5px 0 20px 0;
    }
  }

  .post-eof {
    display: none;
  }

  .post-block {
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 25px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

  .post-block:not(:first-child) {
    margin-top: 120px;
  }

  .post-title, .post-meta {
    text-align: center;
  }

  .post-body img {
    margin-left: 0;
  }

  .post-tags {
    text-align: left;

    a {
      background: $whitesmoke;
      border-bottom: none;
      padding: 1px 5px;

      &:hover {
        background: $grey-light;
      }
    }
  }

  .post-nav {
    margin-top: 40px;
  }
}

.post-button {
  margin-top: 20px;
  text-align: center;

  .btn {
      color: #555 !important;
      // background-color: #EBEDF2;
      border-radius: 3px;
      border: 0 !important;
      transition-property: unset;
      padding: 0px, 15px;
    &:hover {
      background: white;
      border-bottom-color: $black-deep;
      box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.35);
    }
  }
}
